:root {
    --light-cyan: hsl(193, 38%, 86%);
    --neon-green: hsl(150, 100%, 66%);
  
    --grayish-blue: hsl(217, 19%, 38%);
    --dark-grayish-blue: hsl(217, 19%, 24%);
    --dark-blue: hsl(218, 23%, 16%);
  }
  
  html, body {
    font-family: "Manrope", sans-serif;
    margin: 0; padding: 0;
  }
  
  .quote {
    font-size: 28px;
  }

  .background{
    width: 100vw; height: 100vh;
    background-color: var(--dark-blue);
    display: grid;
    place-items: center;
  }

  .modal{
    position: relative;
    width: min(540px, 92vw);
    height: 330px;
    border-radius: 16px;
    background-color: var(--dark-grayish-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .button{
    position: absolute;
    width: 60px; height: 60px;
    border-radius: 100%;
    background-color: var(--neon-green);
    bottom: 0px;
    transform: translateY(50%);
    cursor: pointer;
    transition: all 0.05s ease;
    display: grid;
    place-items: center;
  }

  .button:hover{
    box-shadow: 0px 0px 40px 0px var(--neon-green);
    transition: all 0.05s ease;
  }
  
  @media (max-width: 375px) {
  }
  
  @media (min-width: 1440px) {
  }
  